@import "stylesheet.css";
@import "reset.css";
@import "swiper-bundle.min.css";
@import "global.css";

@import "header.css";
@import "footer.css";


/* main */
.main__about{
    padding: 140px 0;
}
.main__program,
.main__gallery,
.main__testimonials {
    padding-bottom: 140px;
}

/* //////////////main-about//////////////////// */
.about__inner {
    display: grid;
    gap: 53px;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2,auto);
    gap: 40px 53px;
}
.about__img {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    grid-row: 1/-1;
}
.about__img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}
.about__img-contol {
    max-width: 300px;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 10px;
    left: 5%;
    bottom: 4.7%;
    background: #957b97e6;
    border-radius: var(--border);
    align-items: center;
    text-align: left;
    padding: 15px 20px;
    color: var(--bg-white-color);
}
.about__img-button{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--bg-white-color);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    width: 78px;
    height: 78px;
    position: relative;
}
.about__img-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--bordeer-full);
    border: 1px solid #957B97;
    inset: 5px;
    transition: all .3s;
    opacity: 0;
}
.about__img-button:hover::before{
    opacity: 1;
}
.about__img-button {
    cursor: pointer
}
.about__title-text {
    margin-bottom: 30px;
}
.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2,1fr);
}
.about__grid-item {
    border-radius: var(--border);
    background: var(--bacground-color);
    padding: 29px 24px;
    display: flex;
    gap: 15px;
}
.about__grid-img {
    flex-shrink: 0;
}

/*////////////////main-program///////////// */

.program__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 15px;
}
.program__text{
    width: 365px;
}
.program__title {
    margin-bottom: 20px;
}
.program__tab-content {
    margin-bottom: 40px;
}
.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.program__action {
    display: grid;
    max-width: 500px;
    width: 100%;
    grid-template: repeat(3, auto) / 1.66fr 1fr;
    gap: 40px;
}
.program__discount {
    grid-row: 1 / 3;
    border-radius: var(--border);
    background: var(--bacground-color);
    font-size: 20px;
    padding: 40px;
}
.program__discount-value {
    font-family: "Gabriola";
    font-size: 74px;
    transform-origin: 0.0;
    line-height: 0.82;
    text-align: center;
    color: var(--accent-color);
    margin: 0 10% 7px 0;

    animation: discount-grow .8s linear infinite alternate ;
}
@keyframes discount-grow {
    0%  {
        transform: scale(1);
        color: var(--accent-color);
    }
    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9918;
    }
}
.program__discount span {
    font-size: 16px;
    margin-left: 50%;
}
.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #ceaad0;
}
.program__price-value {
    font-family: "Gabriola";
    font-size: 32px;
    line-height: 0.9;
}
.program__price-value--big{
    font-size: 50px;
    color: var(--title-color);
}
.program__button {
    grid-column: 1 / -1;
}
.program__img img{
    width: 100%;
}


/* //////////////////tabs///////////////// */
.tab__controls {
    display: flex;
    gap: 40px 26px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.tab-controls__link {
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 #cec3b94d;
    border-radius: 100px;
    transition: all.4s;
}
.tab-controls__link:hover{
    background: #ffe0cb;
}
.tab-controls__link--active{
    box-shadow: 0 4px 20px 0 #cec3b900;
    background: #ffe0cb;
}
.tab-content {
    display: none;
}
.tab-content--show{
    display: block;
}
.accordion-list {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    padding: 40px 30px;
}
.accordion-list__item--opened .accordion-list__content {
    max-height: 300px;      
    transition: 0.3s ease-in-out; 
}
.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--bg-white-color);
}
.accordion-list__control {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}
.accordion-list__control-icon{
    flex-shrink: 0;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}
.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--bg-white-color);
}
.accordion-list__content {
    max-height: 0;     
    overflow: hidden;        
    transition: max-height 0.3s ease-in-out; 
}
.accordion-list__title{
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: 0.9;
    color: var(--title-color);
    margin-bottom: 20px;
    margin-right: 15px;
}
.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border-radius: var(--bordeer-full);
    border: 1.50px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.accordion-content__col {
    display: flex;
    gap: 80px;
}
.accordion-content__title {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
}
.accordion-content__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.accordion-content__list:nth-child(2){
    max-width: 633px;
    width: 100%;
}
.accordion-content__item {
    display: flex;
}
.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: var(--bordeer-full);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}
/* ///////main__gallery///////////// */
.gallery__inner {
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.gallery__img img{
    max-width: 100%;
}
.gallery__img{
    justify-self: center;
    align-self: center;
}
.gallery__content {
    display: flex;
    gap: 15px;
}
.gallery__info {
    max-width: 380px;
}
.gallery__title {
    margin-bottom: 10px;
}
.gallery__nav {
    display: flex;
    gap: 98px;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
    align-self: end;

    position: relative;
}
.gallery__prev,
.gallery__next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;

    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1.50px solid var(--accent-color);
    transition: var(--transition);
}
.gallery__prev path,
.gallery__next path{
    transition: var(--transition);
}
.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}
.gallery__prev:hover path,
.gallery__next:hover path{
    fill: var(--bg-white-color);
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.50px solid #e1d9e1;
    cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path{
    fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path{
    fill: #e1d9e1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.gallery__slide {
    border-radius: var(--border);
    overflow: hidden;
}
.gallery__slide img {
    max-width: 100%;
}

/* ////////////// */


.testimonials {
}
.testimonials__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}
.testimonials__info {
    max-width: 632px;
}
.testimonials__title {
    margin-bottom: 20px;
}
.testimonials__nav {
    display: flex;
    gap: 30px;
    line-height: 0.9;
    align-self: end;

    position: relative;
}
.testimonials__prev,
.testimonials__next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;

    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1.50px solid var(--accent-color);
    transition: var(--transition);
}
.testimonials__prev path,
.testimonials__next path{
    transition: var(--transition);
}
.testimonials__prev:hover,
.testimonials__next:hover {
    background: var(--accent-color);
}
.testimonials__prev:hover path,
.testimonials__next:hover path{
    fill: var(--bg-white-color);
}
.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.50px solid #e1d9e1;
    cursor: auto;
}
.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path{
    fill: #e1d9e1;
}
.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path{
    fill: #e1d9e1;
}
.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
}
.testimonials__slider {
    overflow: visible;
}
.testimonials__wrapper {
    margin-bottom: 40px;
}
.swiper-slide-prev.testimonials__slide,
.swiper-slide-next.testimonials__slide {
    opacity: 0.5;
}
.testimonials__slide {
    border-radius: var(--border);
    padding: 30px;
    display: flex;
    gap: 30px;
    background: var(--bacground-color);
    transition: var(--transition);
    height: auto;
}
.testimonials__slide.swiper-slide {
    transform: scale(.9);
}
.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}
.testimonials__student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    gap: 30px;
}
.testimonials__student-img {
    margin-bottom: 20px;
}
.testimonials__student-img img {
    border-radius: var(--border);
    overflow: hidden;
}
.testimonials__student-name {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.testimonials__student-inst span{
    color: #ceaad0;
}
.testimonials__quote span {
    display: block;
    font-family: "Gabriola";
    font-size: 32px;
    line-height: 0.9;
    color: var(--title-color);
    margin-bottom: 10px;
}
.testimonials__scrollbar {
    background: var(--bacground-color);
}
.testimonials__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
}
.testimonials__scrollbar .swiper-scrollbar-drag{
    background: var(--accent-color);
}

/* ///////////////////////////// */
/* ///////////////////////////// */
/* ///////////////////////////// */



@media (max-width : 1200px) {
    .hero__img {
        margin-right: -5px;
    }

    .hero__img-contol {
        position: static;
        max-width: 200px;
        width: 100%;
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    /* -------------- */
    .footer__inner{
        justify-content: space-between;
        grid-template: repeat(2,auto) / repeat(3,auto);
    }

    .footer__col:last-child {
        grid-column: 1/-1;
        text-align: center;
    }
    /* //////////// */
    .testimonials__scrollbar.swiper-scrollbar {
        max-width: 80%;
        margin: 0 auto;
    }
}
@media (max-width : 1100px) {
    .about__img {
        grid-row: auto;
    }
    .about__grid {
        grid-column: 1/-1;
    }
    .about__body {
        align-self: center;
    }
    /* /////// */
    .program__top{
        flex-direction: column;
        align-items: center;
    }
    .program__title {
        text-align: center;
    }
    .program__text{
        margin-bottom: 20px;
    }
    .tab__controls{
        gap: 50px;
        flex-wrap: wrap;
    }
    .program__img{
        display: none;
    }
    .program__action{
        max-width: none;
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }
}
@media (max-width : 1000px) {
    .header__hero{
        padding: 55px 0 90px;
    }
    .hero__content{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        
    }
    .hero__title{
        width: 55vw;
        text-align: center;
        font-size:  8vw;
    }
    .hero__text{
        padding-bottom: 20px;
    }
    .hero__img-contol {
        display: flex;
    }
    /* ////// */
    .accordion-list__item {
    border-radius: 20px;
    padding: 30px 30px;
    }
}
@media (max-width : 900px) {
    .nav{
        display: none;
        font-size: 24px;
        inset: 0;
        z-index: 10;
        position: fixed;
        padding: 25vh 15px 30px ;
        background: var(--bg-white-color);

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
    }

    .nav__list{
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav{
        display: block;
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon{
        display: flex;
    }
    /* ------------------ */

    .footer__inner{
        justify-content: center;
        text-align: center;
        grid-template: none;
        gap: 0;
    }

    .footer__col:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2){
        margin-bottom: 40px;
    }

    .footer__col:nth-last-child(2){
        margin-bottom: 10px;
    }
    /* /////// */
    .accordion-list__item--opened .accordion-list__content {
        max-height: 400px;      
    }
    /* ////// */
    .main__about{
        padding: 60px 0 80px;
    }
    /* ////////////// */
    .gallery__img {
        display: none;
    }
    .gallery__inner{
        grid-template-columns: none;
        align-items: center;
        justify-content: center;
    }
    /* ///// */

    .testimonials__inner {
        flex-direction: column;
        align-items: stretch;
        gap: 35px;
    }
    /* //////// */

    .testimonials__scrollbar.swiper-scrollbar {
        max-width: 60%;
        margin: 0 auto;
    }

}
@media (max-width : 750px) {
.hero__inner{
    display: block;
}

.hero__content{
    align-items: center;
    max-width: none;
}

.hero__img{
    display: none;
}
.hero__text{
    text-align: center;
}

.hero__img-contol{
        display: none;
}

    .hero__img-contol--mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
    gap: 20px;
}
.header__hero{
    padding: 55px 0 60px;
}
.hero__title {
    width: 85vw;
    font-size: 12vw;
}

/* //////////main-about */
    .about__inner{
        grid-template: none;
    }
    .about__body{
        text-align: center;
    }
    .about__img{
        max-width: 500px;
        justify-self: center;
    }
    .about__grid{
        grid-template: none;
    }
    /* ////////// */
    .tab__controls{
        gap:40px 10px;
    }
    .accordion-list__item--opened .accordion-list__content {
        max-height: 500px;      
    }
    .accordion-content__col{
    flex-direction: column;
    }
    .accordion-content__col{
        gap: 55px;
    }
    .accordion-list__title{
        font-size: 35px;
    }
    .accordion-list__item {
    border-radius: 20px;
    padding: 15px 20px;
    }
    .program__action{
        max-width: none;
        grid-template: repeat(3, auto) / repeat(2, auto);
        gap: 20px;
    }
    .program__discount{
        grid-row: auto;
        grid-column: 1 / -1;
    }
    .program__price{
        padding-right: 15px;
    }
}
@media (max-width : 600px) {
    .gallery__content{
        flex-direction: column;
    }
    /* //////// */
    .testimonials__slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px 30px;
    }
    .testimonials__quote {
        text-align: center;
    }
}
@media (max-width : 500px) {
    .about__img{
        max-width: 450px;
    }
    .about__title{
        font-size: 18vw;
    }
    .about__grid{
        gap: 10px;
    }
    .about__grid-item{
        padding: 8px 29px;
    }
    .modal__window{
        padding: 33px;
    }
    .modal__img {
        margin-left: 35px;
        width: 75%;
    }
    .modal__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* /////// */
    .accordion-list__title{
        font-size: 27px;
    }
    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }
    .accordion-list__item {
    padding: 10px 20px;
    }
    .program__action{
        max-width: none;
        grid-template: none;
    }
    .program__price{
        text-align: center;
    }
    /* ////////// */

    .testimonials__title{
        font-size: 58px;
    }
}
@media (max-width : 400px) {
    .about__title{
        font-size: 15vw;
    }
    .about__img-contol{
        max-width: none;
        border-radius: 0;
        left: 0;
        bottom: 0;
        padding : 3px 5px;
    }
    .modal__window{
        max-width: 368px;
    }
    .modal__title{
        font-size: 10vw;
    }
    /* ///////// */
    .accordion-list__item--opened .accordion-list__content {
        max-height: 600px;      
    }
    /* //////// */

    .program__text{
        width: 100%;
    }
    /* //////// */
    .gallery__content {
        gap: 25px;
    }
    /* ////////// */
    .testimonials__title{
        font-size: 55px;
    }

}
@media (max-width : 300px) {
    .hero__text{
        padding-bottom: 40px;
    }
    /*////////// */
    .about__grid-item {
        padding: 8px 6px;
    }
}




