:root{
    --text-color:#312c27;
    --bg-white-color:#fff9f4;
    --title-color:#1f1711;
    --accent-color:#ffa55c;
    --bacground-color:#ffe0cb;
    --transition: all.4s ;
}

.body{
    font-family: 'Montserrat',sans-serif;
    color:  var(--text-color);
    background-color: var(--bg-white-color);
    line-height: 1.5;
}

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    width: 100%;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa55c;
    border-radius: 60px;
    padding: 3px 15px;
    height: 62px;
    transition: .3s;
}

.button:hover{
    background-color: #ff9138;
}

/*/////////////////header-top///////////////////*/

.header{
    background: url("../img/decor/header-bacground.png") 50% 100% / cover no-repeat;
}

.header__top{
    padding-top: 19px;
}

.header__top-inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo{
    max-width: 174px;
    z-index: 11;
}

.header__logo img{
    width: 100%;
}

.nav{
    transition: var(--transition);
}

.nav__link{
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__list{
    display: flex;
    gap: 4vh 40px;
}

.nav__link::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -12px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color: var(--accent-color);

    transition: all .3s;
    opacity: 0;
}

.nav__link:hover::before{
    opacity: 1;
}

/*//////////////////header-top__burger/////////////////////*/

.body--opened-menu{
    overflow: hidden;
}

.burger-icon{
    display: none;
    z-index: 11;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
}

.burger-icon span {
    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 100px;
    transition: var(--transition);
}

.burger-icon span::before{
    top: 8px;
}

.burger-icon span::after{
    bottom: 8px;
}

.body--opened-menu .burger-icon span{
    background: transparent;
}

.body--opened-menu .burger-icon span::before{
    top: 0px;
    transform: rotate(45deg);
    transition: var(--transition);
}

.body--opened-menu .burger-icon span::after{
    bottom: 0px;
    transform: rotate(-45deg);
    transition: var(--transition);
}

/*//////////////////hero///////////////////////////////// */

.hero{
    padding: 50px 0 140px;
}

.hero__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


/*/////////////////header-hero__content//////////////////*/

.hero__content {
    max-width: 520px;
    width: 100%;
}

.header__hero-start {
    color: #b197b2;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.6;
}



.header__hero-circule{
    vertical-align: middle;
    padding: 0 10px;
}

.hero__title {
    font-family: "Gabriola", sans-serif;
    color: var(--title-color);
    font-size: 74px;
    line-height: .8;
    padding-bottom: 30px;
}

.hero__text {
    padding-bottom: 40px;
    max-width: 360px;
    width: 100%;
}

.hero__img-contol--mobile{
    display: none;
}

.hero__button{
    max-width: 360px;
    width: 100%;
}

/*/////////////////header-hero__img//////////////////*/

.hero__img {
    max-width: 377px;
    margin-right: 247px;
    position: relative;
}

.hero__img>img{
    width: 100%;
}

.hero__img-contol {
    max-width: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 10px;
    left: calc(100% - 39px);
    bottom: 10.7%;
}

.hero__img-button{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-left: 2.7%;
    border-radius: 100%;
    background-color: var(--bacground-color);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    width: 78px;
    height: 78px;
    position: relative;
}

.hero__img-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 1px solid var(--accent-color);
    inset: 5px;

    transition: all .3s;
    opacity: 0;
}

.hero__img-button:hover::before{
    opacity: 1;
}

/* ////////////////////////////////// */

.footer{
    background: #AB8261;
    color: var(--bg-white-color);
    padding: 60px 0 66px;
}
.footer__inner{
    display: grid;
    gap: 40px 30px;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}
.footer__col:first-child {
    margin-top: -30px;
}
.footer__logo {
    display: block;
    max-width: 240px;
}
.footer__logo img {
    width: 100%;
}
.footer__logo-text {
    padding-bottom: 20px;
}
.socials__list {
    display: flex;
    gap: 15px;
}
.socials {
    line-height: 0;
}
.socials__link path{
    transition: var(--transition);
}
.socials__link:hover path {
    fill: var(--accent-color);
}
.footer__col-list {
    margin-top: -5px;
}
.footer__col-item {
    margin-bottom: 10px;
}
.footer__col-item:nth-last-child(1){
    margin-bottom: 0;
}
.footer__col-link{
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.footer__contact-list:nth-last-child(1){
    margin-bottom: 0;
}

.footer__contact-link {
    margin-bottom: 10px;
}
.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 50px;
    transition: var(--transition);
}
.footer__col-number:hover{
    color: var(--accent-color);
}
.footer__copy {
    color: #DEC5B1;
}
.footer__col-link::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -12px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color: var(--accent-color);

    transition: all .3s;
    opacity: 0;
}
.footer__col-link:hover::before{
    opacity: 1;
}


/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
@media (max-width : 1200px) {
    .hero__img {
        margin-right: -5px;
    }

    .hero__img-contol {
        position: static;
        max-width: 200px;
        width: 100%;
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    /* -------------- */
    .footer__inner{
        justify-content: space-between;
        grid-template: repeat(2,auto) / repeat(3,auto);
    }

    .footer__col:last-child {
        grid-column: 1/-1;
        text-align: center;
    }
}
@media (max-width : 1000px) {
    .hero{
        padding: 55px 0 90px;
    }
    
    .hero__content{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .hero__title{
        width: 55vw;
        text-align: center;
        font-size:  8vw;
    }
    
    .hero__text{
        padding-bottom: 20px;
    }

    .hero__img>img{
        
    }

    .hero__img-contol {
        display: flex;
    }



}
@media (max-width : 900px) {
    .nav{
        display: none;
        font-size: 24px;
        inset: 0;
        z-index: 10;
        position: fixed;
        padding: 25vh 15px 30px ;
        background: var(--bg-white-color);

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
    }

    .nav__list{
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav{
        display: block;
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon{
        display: flex;
    }
    /* ------------------ */

    .footer__inner{
        justify-content: center;
        text-align: center;
        grid-template: none;
        gap: 0;
    }

    .footer__col:first-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2){
        margin-bottom: 40px;
    }

    .footer__col:nth-last-child(2){
        margin-bottom: 10px;
    }
}
@media (max-width : 750px) {
.hero__inner{
    display: block;
}

.hero__content{
    align-items: center;
    max-width: none;
}

.hero__img{
    display: none;
}

.hero__title{
    width: 74vw;
    font-size: 10vw;
}

.hero__text{
    text-align: center;
}

.hero__img-contol{
        display: none;
}

    .hero__img-contol--mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
    gap: 20px;
}
}
@media (max-width : 750px) {
.hero{
        padding: 55px 0 60px;
}

.hero__title {
    width: 85vw;
    font-size: 12vw;
}
}
@media (max-width : 300px) {
    .hero__text{
        padding-bottom: 40px;
    }
}


