
.divhead {
    background-color: #433D3C;
    color: #ffffff;
    font-size: 40px;
}

.spanhead {
    color: #DB80DE;
}

.divmain {
    background-color: #F74242;
    color: #F74242;
    width: 100px;
    height: 100px;
}

.divfooter {
    background-color: #C49DF9;
    height: 300px;
    font-size: 26px;
    width: 300px;
}

.divspans {
    color: #ffffff;
}

.spanfooter {
    background-color: #6A3EA8;
}

